@font-face{
	font-family: hyperlegible;
	src: url(Atkinson-Hyperlegible-Regular-102.otf);
}

body {
	font-family:hyperlegible;
  background-color: #EFEBCE;
  color: #BB8588;
  padding-top: 5%;
  margin-left: 3%;
}